<h2>Search Results for City</h2>

<p>Interactive map with pictures, would be ideal</p>

<p>
  <%= form_tag '/places', method: :post do %>
    <%= hidden_field_tag(:search, params[:search]) %>
    <%= submit_tag 'Save This Location' %>
  <% end %>
</p>



<p>



<% @photos.each do |pic| %>
  <a href="https://farm<%= pic["farm"].to_s %>.staticflickr.com/<%= pic["server"] %>/<%= pic["id"] %>_<%= pic["secret"] %>_b.jpg"><img src="https://farm<%= pic["farm"].to_s %>.staticflickr.com/<%= pic["server"] %>/<%= pic["id"] %>_<%= pic["secret"] %>_z.jpg"></a>
<% end %>


</p>
