<h2>User Profile</h2>
<a href="/users/<%= current_user.id %>/profile/<%= current_user.id %>/edit">Update Profile</a>

<p>
<img src="<%= @profile.photo_url %>">
<br>
<%= @profile.name %>
<br>
Current City: <%= @profile.hometown %>
<br>
Interests: <%= @profile.interests %>
<br>
About me: <%= @profile.about_me %>
</p>

<h3>My Favorite Locations</h3>

<ul>
  <% @places.each do |place| %>
    <li><%= link_to place.location, place_path(place) %></li>
  <% end %>
</ul>
