<div class="welcomeBg">
	<div class="welcomeNav">
		<ul>
			<li><a href="/users/show" class="welcome_profile">Profile</a></li>
            <li><span class='welcome_user_login'>
            <% if current_user %>
            <%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
            <% else %>
            <a href='/users/sign_in'>Sign In</a>
            <% end %></span></li>
        </ul>
    </div>

	<div class="welcomePage">
		<%= link_to image_tag("logoexport-01_1024.png", :class => "markerPng") %>
		<div><h3>Welcome to</h3> <h1>Geo.Pic</h1></div>

		<p>Search through any location, country or city, visually, without having to be there. Save your favorite locations and explore!</p>
		<p>

		<div class="searchDiv">
		  <%= form_tag '/search', method: :get do %>
		    <%= text_field_tag :search, nil, :placeholder => "ex: Austin Texas", :class => 'searchBoxHome' %>
		    <%= submit_tag 'Search', class: 'buttonHome' %>


		  <% end %>


		 </div>

		</p>
	</div>
</div>
<!-- HTML looks good. In the future, try using semantic tags for your content, like <section> and <nav>.
     Also, be sure to fix indentation and extra white space as you go.  -->
