<!DOCTYPE html>
<html>
<head>
  <title>GeoPic</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav>

  <a href='/'>Geo.Pic</a>
  
  <%= form_tag '/search', method: :get do %>
    Search For: <%= text_field_tag :search %>
    <%= submit_tag 'Search' %>
  <% end %>

  <a href='/users/sign_in'>Login</a>

</nav>

<%= yield %>

<h3><%= link_to 'Signout', destroy_user_session_path, :method => :delete%></h3>

</body>
</html>
