

<h2><%= @place.location.split.map(&:capitalize).join(' ') %></h2>


<br>

<%= link_to "Edit Location", edit_place_path(@place) %>
<br>
<%= link_to "Delete From Favorites", place_path(@place), method: :delete, confirm: true%>

<br>
<%= link_to "Go Back", :back %>


<a href="/search?utf8=✓&search=<%= @place.location.gsub(/\s/,'+') %>&commit=Search"><h3>View Photos For This Place:</h3></a>


<%= image_tag "https://maps.googleapis.com/maps/api/staticmap?center=NewYork&zoom=13&size=600x300&key=AIzaSyBg1x1eEZfouid3oD2nZ4d9WdZhXth-AT0"
%>
