<!DOCTYPE html>
<html class="<%= controller.controller_name %>">
  <head>
    <title>GeoPic</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body class="<%= controller.controller_name %>">

    <!-- Logo should be inside the navigation area and floats right next to the ul list below. -->
    <header>
      <%= link_to image_tag("Geopic_logo.png"), root_path %>
        <nav>
          <ul>
            <li>
              <%= form_tag '/search', method: :get do %>
              <%= text_field_tag :search, nil, :class => 'searchBox' %>
              <%= submit_tag 'Search', class: 'button' %>
              <% end %>
            </li>
            <li>
              <a href="/users/show">Profile</a>
            </li>
            <li>
              <span class='user_login'>
                <% if current_user %>
                  <%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
                <% else %>
                <a href='/users/sign_in'>Sign In</a>
                <% end %>
              </span>
            </li>
          </ul>
        </nav>
    </header>

    <div class="content">
      <%= yield %>
    </div>

  </body>
</html>
